@font-face {
  font-family: 'montserratregular';
  src: url('font/montserrat-regular-webfont.eot');
  src: url('font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/montserrat-regular-webfont.woff2') format('woff2'), url('font/montserrat-regular-webfont.woff') format('woff'), url('font/montserrat-regular-webfont.ttf') format('truetype'), url('font/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dorsa_regular';
  src: url('font/dorsa-regular-webfont.eot');
  src: url('font/dorsa-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/dorsa-regular-webfont.woff2') format('woff2'), url('font/dorsa-regular-webfont.woff') format('woff'), url('font/dorsa-regular-webfont.ttf') format('truetype'), url('font/dorsa-regular-webfont.svg#dorsaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gilda_displayregular';
  src: url('font/gildadisplay-regular-webfont.eot');
  src: url('font/gildadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/gildadisplay-regular-webfont.woff2') format('woff2'), url('font/gildadisplay-regular-webfont.woff') format('woff'), url('font/gildadisplay-regular-webfont.ttf') format('truetype'), url('font/gildadisplay-regular-webfont.svg#gilda_displayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'arvobold';
  src: url('font/arvo-bold-webfont.eot');
  src: url('font/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'), url('font/arvo-bold-webfont.woff2') format('woff2'), url('font/arvo-bold-webfont.woff') format('woff'), url('font/arvo-bold-webfont.ttf') format('truetype'), url('font/arvo-bold-webfont.svg#arvobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'great_vibesregular';
  src: url('font/greatvibes-regular-webfont.eot');
  src: url('font/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'), url('font/greatvibes-regular-webfont.woff2') format('woff2'), url('font/greatvibes-regular-webfont.woff') format('woff'), url('font/greatvibes-regular-webfont.ttf') format('truetype'), url('font/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.allTypo {
  position: absolute;
  top: -500px;
  left: -500px;
}
.allTypo .montserratregular {
  font-family: 'montserratregular';
}
.allTypo .dorsaregular {
  font-family: 'dorsa_regular';
}
.allTypo .gilda_displayregular {
  font-family: 'gilda_displayregular';
}
.allTypo .arvobold {
  font-family: 'arvobold';
}
.allTypo .great_vibesregular {
  font-family: 'great_vibesregular';
}
p,
blockquote,
cite {
  margin: 0;
  padding: 0;
  font-style: normal;
  word-break: break-word;
}
* {
  box-sizing: border-box;
  transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Helvetica, Arial, Sans-Serif;
  font-size: 14px;
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.content {
  width: 100%;
  height: 100%;
  padding: 0 20%;
  z-index: 10;
}
.controls {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 26px;
  line-height: 26px;
  color: #FFF;
  padding: 0 10px;
  margin-top: -26px;
  overflow: hidden;
  opacity: 0.99;
  filter: alpha(opacity=99);
}
.controls * {
  display: inline-block;
  line-height: 26px;
  vertical-align: top;
}
.controls h2 {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  width: 250px;
}
.controls .showlist {
  width: 26px;
  height: 26px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background: url("img/showlist.gif") no-repeat center center;
  cursor: pointer;
}
.controls .showabout {
  width: 30px;
  height: 26px;
  background: url("img/about.gif") no-repeat center center;
  cursor: pointer;
  position: absolute;
  right: 0px;
}
.controls .list {
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: inherit;
}
.controls .about {
  left: 276px;
  width: 400px;
  top: 46px;
  position: absolute;
}
.controls .about .logo {
  font-family: georgia, serif;
  font-style: italic;
}
.controls .about p {
  opacity: 0.6;
}
.controls .about a {
  color: white;
  text-decoration: none;
  opacity: 1;
}
.controls .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 26px;
  z-index: -1;
  background-color: #e64b3f;
}
.controls .background2 {
  background-color: #000;
  position: absolute;
  top: 26px;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: -1;
  opacity: 0.6;
  filter: alpha(opacity=60);
  background-color: #e64b3f;
}
.controls .keyword {
  height: 26px;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  right: 10px;
  text-align: right;
}
/* TEMPLATES */
/*
 * Template 1
 */
.template1 {
  font-family: 'great_vibesregular';
}
.template1.backgroundImage {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.template1 .bloc1 {
  border: 1px solid #FFF;
  padding: 10px;
}
.template1 .bloc1 .bloc2 {
  border: 1px solid #FFF;
  padding: 40px 40px 20px 40px;
}
.template1 .bloc1 .bloc2 blockquote {
  font-size: 78px;
  text-align: center;
}
.template1 .bloc1 .bloc2 cite {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 40px;
  padding-top: 20px;
}
.template1 .longText .bloc2 blockquote {
  font-size: 60px !important;
}
.template1 .longText .bloc2 cite {
  font-size: 30px !important;
}
/*
 * Template 2
 */
.template2 {
  font-family: helvetica, arial;
  font-weight: 700;
}
.template2 blockquote {
  font-size: 72px;
}
.template2 blockquote p {
  display: inline;
  color: #fff;
}
.template2 p {
  width: 100%;
  position: relative;
}
.template2 p cite {
  display: inline-block;
  position: absolute;
  font-size: 40px;
  background-color: #fff;
  right: 0;
}
.template2 .longText .bloc2 blockquote {
  font-size: 60px !important;
}
.template2 .longText .bloc2 cite {
  font-size: 30px !important;
}
/*
 * Template 3 - background b&w
 */
.template3 {
  font-family: 'arvobold', serif;
}
.template3 blockquote {
  font-size: 64px;
  border-top: 10px solid;
  padding-top: 20px;
  line-height: 80px;
}
.template3 cite {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 40px;
  border-bottom: 10px solid;
  padding-bottom: 20px;
}
.template3 .longText .bloc2 blockquote {
  font-size: 50px !important;
  line-height: 60px;
}
.template3 .longText .bloc2 cite {
  font-size: 30px !important;
}
/*
 * Template 4
 */
.template4 {
  font-family: 'montserratregular', sans-serif;
}
.template4 blockquote {
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
.template4 blockquote p {
  border-bottom: 3px solid;
  display: inline;
}
.template4 cite {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding-top: 20px;
  font-size: 40px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.template4 .longText .bloc2 blockquote {
  font-size: 45px !important;
}
.template4 .longText .bloc2 cite {
  font-size: 30px !important;
}
/*
 * Template 5
 */
.template5 {
  font-family: 'dorsa_regular', sans-serif;
  color: #fff;
}
.template5 blockquote {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  font-size: 80px;
  text-align: center;
}
.template5 cite {
  display: inline-block;
  width: 100%;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 30px;
  text-align: right;
  font-size: 40px;
}
.template5 .longText .bloc2 blockquote {
  font-size: 65px !important;
}
.template5 .longText .bloc2 cite {
  font-size: 30px !important;
}
/*
 * Template 6
 */
.template6 {
  text-transform: uppercase;
  font-family: 'gilda_displayregular', cursive;
}
.template6.backgroundImage {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.template6 p,
.template6 blockquote,
.template6 cite {
  font-style: italic;
}
.template6 blockquote {
  font-size: 70px;
  line-height: 64px;
  text-align: left;
}
.template6 cite {
  display: inline-block;
  padding-top: 40px;
  text-align: left;
  font-size: 30px;
  text-transform: uppercase;
}
.template6 .longText .bloc2 blockquote {
  font-size: 55px !important;
  line-height: 45px;
}
.template6 .longText .bloc2 cite {
  font-size: 20px !important;
}
/*Loader*/
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -70px;
  z-index: -6;
  text-align: center;
  color: #e64b3f;
  font-weight: bold;
}
.loader .spinner {
  width: 140px;
  height: 140px;
  margin-top: 30px;
  background-color: #e64b3f;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
