@defaultFontSize: 14px;
@controlsHeight: 26px;
@defaultColor: #e64b3f;

@font-face {
    font-family: 'montserratregular';
    src: url('font/montserrat-regular-webfont.eot');
    src: url('font/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/montserrat-regular-webfont.woff2') format('woff2'),
         url('font/montserrat-regular-webfont.woff') format('woff'),
         url('font/montserrat-regular-webfont.ttf') format('truetype'),
         url('font/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dorsa_regular';
    src: url('font/dorsa-regular-webfont.eot');
    src: url('font/dorsa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/dorsa-regular-webfont.woff2') format('woff2'),
         url('font/dorsa-regular-webfont.woff') format('woff'),
         url('font/dorsa-regular-webfont.ttf') format('truetype'),
         url('font/dorsa-regular-webfont.svg#dorsaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilda_displayregular';
    src: url('font/gildadisplay-regular-webfont.eot');
    src: url('font/gildadisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gildadisplay-regular-webfont.woff2') format('woff2'),
         url('font/gildadisplay-regular-webfont.woff') format('woff'),
         url('font/gildadisplay-regular-webfont.ttf') format('truetype'),
         url('font/gildadisplay-regular-webfont.svg#gilda_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arvobold';
    src: url('font/arvo-bold-webfont.eot');
    src: url('font/arvo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/arvo-bold-webfont.woff2') format('woff2'),
         url('font/arvo-bold-webfont.woff') format('woff'),
         url('font/arvo-bold-webfont.ttf') format('truetype'),
         url('font/arvo-bold-webfont.svg#arvobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'great_vibesregular';
    src: url('font/greatvibes-regular-webfont.eot');
    src: url('font/greatvibes-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/greatvibes-regular-webfont.woff2') format('woff2'),
         url('font/greatvibes-regular-webfont.woff') format('woff'),
         url('font/greatvibes-regular-webfont.ttf') format('truetype'),
         url('font/greatvibes-regular-webfont.svg#great_vibesregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.allTypo{
    position: absolute;
    top: -500px;
    left: -500px;
    .montserratregular{font-family: 'montserratregular';}
    .dorsaregular{font-family: 'dorsa_regular';}
    .gilda_displayregular{font-family: 'gilda_displayregular';}
    .arvobold{font-family: 'arvobold';}
    .great_vibesregular{font-family: 'great_vibesregular';}
}

p, blockquote, cite{
    margin: 0;
    padding: 0;
    font-style: normal;
}
*{
    box-sizing: border-box;

    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: @defaultFontSize;
}
.backgroundImage{
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.content{
    width: 100%;
    height: 100%;
    padding: 0 20%;
    z-index: 10;
}
.controls{
    position: absolute;
    top: 100%;
    width: 100%;
    height: @controlsHeight;
    line-height: @controlsHeight;
    color: #FFF;
    padding: 0 10px;
    margin-top: -@controlsHeight;
    overflow: hidden;
    opacity: 0.99;
    filter: alpha(opacity=99);
    *{
        display: inline-block;
        line-height: @controlsHeight;
        vertical-align: top;
    }
    h2{
        font-size: @defaultFontSize;
        font-weight: normal;
        margin: 0;
        width: 250px;
    }
    .showlist{
        width: @controlsHeight;
        height: @controlsHeight;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background: url("img/showlist.gif") no-repeat center center;
        cursor: pointer;
    }
    .showabout{
        width: 30px;
        height: @controlsHeight;
        background: url("img/about.gif") no-repeat center center;
        cursor: pointer;
        position: absolute;
        right: 0px;
    }
    .list{
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color: inherit;
    }

    .about {
        opacity: 0.6;
        margin-left: 282px;
        width: 300px;
        a {
            color: white;
        }
    }

    .background{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: @controlsHeight;
        z-index: -1;
        background-color:@defaultColor;
    }
    .background2{
        background-color: #000;
        position: absolute;
        top:@controlsHeight;;
        left: 0;
        width: 100%;
        height: 2000px;
        z-index: -1;
        opacity: 0.6;
        filter: alpha(opacity=60);
        background-color:@defaultColor;
    }
}

/* TEMPLATES */
/*
 * Template 1
 */
.template1{
    font-family: 'great_vibesregular';
    &.backgroundImage{
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    .bloc1{
        border: 1px solid #FFF;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.5);

        .bloc2{
            border: 1px solid #FFF;
            padding: 50px;

            blockquote{
                font-size: 78px;
                text-align: center;
            }
            cite{
                display: inline-block;
                width: 100%;
                text-align: right;
                font-size: 40px;
            }
        }
    
    }
}

/*
 * Template 2
 */

.template2{
    font-family: helvetica, arial;
    font-weight: 700;

    blockquote{
        font-size: 72px;

        p{ 
            display: inline;
            color: #fff;
        } 
    }

    p {
        width: 100%;
        position: relative;
        
        cite{
            display: inline-block;
            position: absolute;
            font-size: 40px;
            background-color:#fff;
            right: 0;
        }
    }
}

/*
 * Template 3 - background b&w
 */

.template3{
    font-family: 'arvobold', serif;

    blockquote{
        font-size: 64px;
        border-top: 10px solid;
        padding-top: 20px;
        line-height: 80px;
    }
    cite{
        display: inline-block;
        width: 100%;
        text-align: right;
        font-size: 40px;
        border-bottom: 10px solid;
        padding-bottom: 20px;
    }
}

/*
 * Template 4
 */

.template4{
    font-family: 'montserratregular', sans-serif;
    
    .bloc1 {
        background: url(img/motif.png);
    }

    blockquote{
        font-size: 60px;
        text-align: center;
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 20px;

        p {
            border-bottom: 3px solid;
            display: inline;

        }
    }

    cite{
        display: inline-block;
        width: 100%;
        text-align: right;
        font-size: 40px;
        padding-right: 20px;
        padding-bottom: 10px;
    }
}
/*
 * Template 5
 */

.template5{
    font-family: 'dorsa_regular', sans-serif;
    color: #fff;

    .bloc1 {
        background-color: rgba(255, 255, 255, 0.5);

    }

    blockquote{
        padding-top: 60px;
        padding-right: 60px;
        padding-left: 60px;
        font-size: 80px;
        text-align: center;
    }

    cite{
        display: inline-block;
        width: 100%;
        padding-right: 60px;
        padding-bottom: 60px;
        text-align: right;
        font-size: 40px;
    }
}

/*
 * Template 6
 */

.template6{
    text-transform: uppercase;
    font-family: 'gilda_displayregular', cursive;
    &.backgroundImage{
        -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(100%);
        filter: gray;
        filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    }
    p, blockquote, cite {
        font-style: italic;
    }

    blockquote{
        font-size: 70px;
        text-align: left;
    }

    cite{
        display: inline-block;
        text-align: left;
        font-size: 30px;
        text-transform: uppercase;
    }
    
}
/*Loader*/
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -70px;
    z-index: -6;

    text-align: center;
    color:@defaultColor;
    font-weight: bold;

    .spinner {
        width: 140px;
        height: 140px;
        margin-top: 30px;
        background-color:@defaultColor;

        border-radius: 100%;  
        -webkit-animation: scaleout 1.0s infinite ease-in-out;
        animation: scaleout 1.0s infinite ease-in-out;
    }

    @-webkit-keyframes scaleout {
      0% { -webkit-transform: scale(0.0) }
      100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }

    @keyframes scaleout {
      0% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      } 100% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
        opacity: 0;
      }
    }
}